PORT=5100

# MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=change_this_password
MONGO_INITDB_DATABASE=auditoria_db
MONGO_URI=mongodb://admin:change_this_password@mongo:27017/auditoria_db?authSource=admin

# JWT
JWT_SECRET=change_this_secret_in_production
